/* SLOGAN ANIMATION */

.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}

.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content p {
  animation-duration: 0.6s;
}

.bouncy.cd-intro-content .cd-btn {
  animation-name: cd-bounce-rotate;
  animation-duration: 0.5s;
}

.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 0.4s;
}

@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

/* BACKGROUND */
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

$offset: 6px;
$bgcolor: #111;


  &:after{
    top: 0;
    left: $offset;
    color: blue;
    @include animation('move 1.5s infinite');
  }
  &:before{
    top: -0.4*$offset;
    left: 0.6*$offset;
    color: limegreen;
  }
}

.line{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: blue;
  mix-blend-mode: screen;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  &:after, &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    mix-blend-mode: screen;
  }
  &:after{
    top: 2px;
    background: red;
  }
  &:before{
    top: -2px;
    background: limegreen;
  }
}



@include keyframes(skew){
  0%    { @include transform(none) }
  30%   { @include transform(none) }
  30.2% { @include transform(skewX(50deg)) }
  30.4% { @include transform(skewX(-50deg)) }
  31%   { @include transform(none) }
}
@include keyframes(move){
  0%   { @include transform(none); }
  30%  { @include transform(none); }
  31%  { @include transform(translateX(-$offset)) }
  33%  { @include transform(none); }
  98%  { @include transform(none); }
  100% { @include transform(translateX($offset)) }
}
@include keyframes(flash){
  0%   { @include opacity(1) }
  50%  { @include opacity(0.5) }
}
@include keyframes(lines){
  0%   { @include opacity(0.1) }
  50%  { @include opacity(1) }
}
