/*--------------------------------------------------------------
Body Styles
--------------------------------------------------------------*/
.content {
  border: 10px;
  border-color: hotpink;
}

/* background-color: #f907fc;
background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
