/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

.masthead {
    background: rgba(0, 232, 255, 0.2);
}

@media screen and (min-width: 50em) {
    .masthead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-title {
    margin: 0;
    padding:.2em .5em;
    font-size: 2em;
    font-weight: 300;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
     0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
     animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}

.site-title a {
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}
