/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
@font-face { font-family: "Neon 80s"; src: url('../font/Neon.ttf'); }
@font-face { font-family: "Streamster"; src: url('../font/Streamster.ttf'); }

body, button, input, select, textarea {
	color: #00fff385;
	font-family: "Neon 80s", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-size-adjust: 0.5;
}

p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	line-height: 1.25;
	font-weight: bold;

}

h2 {
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: bold;
}

h3 {
	font-size: 1.4em;
	line-height: 1.15;
}

h4 {
	font-size: 1.2em;
	line-height: 1;
}

a, a:hover {
	text-decoration: none;
}
a:hover {
	color: white;
}

.name {
	font-family: "Streamster";
}
/*TYPOGRAPHY GLITCH EFFECT */
