/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
@font-face { font-family: "Neon 80s"; src: url('CSS/FONTS/Neon.ttf'); }
@font-face { font-family: "Streamster"; src: url('CSS/FONTS/Streamster.ttf'); }
@font-face { font-family: "SFAlienEncounters"; src: url('CSS/FONTS/SFAlienEncounters.ttf'); }
@font-face { font-family: "SFAlienEncounters-Italic"; src: url('CSS/FONTS/SFAlienEncounters-Italic.ttf'); }
@font-face { font-family: "Lazer84"; src: url('CSS/FONTS/Lazer84.ttf'); }

body, button, input, select, textarea {
	color: #00fff385;
	font-family: "Neon 80s", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	text-shadow: 0 0 6px #30b5a980;
}

p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 2em;
	line-height: 1.25;

}

h2 {
	font-size: 1.6em;
	line-height: 1.2;
}

h3 {
	font-size: 1.4em;
	line-height: 1.15;
}

h4 {
	font-size: 1.2em;
	line-height: 1;
}

a, a:hover {
	text-decoration: none;
}
a:hover {
	color: white;
}

.name {
	font-family: "Streamster";
}

.name2 {
	font-family: "SFAlienEncounters";
}

.slogan {
	font-family: "SFAlienEncounters-Italic";
}
.nav-menu {
	font-family: "SFAlienEncounters-Italic";
}

/*TYPOGRAPHY GLITCH EFFECT */
